.landingPage {
  background-color: #F1F3FF;
}

#logorental {
    position: fixed;
    left: 7%;
    top: 10px;
}

.navbarCar {
    background-color: #F1F3FF;
}

.navbarKonten {
    position: relative; 
    left: 54%;
}


.navright {
    color: grey;
}

.navright:hover {
    color: rgb(40, 40, 165);
}

.offcanvas-end{
    width: 50%;
}

#ImgCar {
    width: 100%;
    height: 80%;
    position: relative;
    top: 25.8%;
    right: 0;
    bottom: 0;
}

#texthome {
    position: relative;
    left: 5%;
    margin-top: 8%;
    margin-bottom: 15%;
}


#imgService {
    width: 75%;
    height: 75%;
}


.card {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    background-color: #F1F3FF;
    border-radius: 10px;
}

.card-title {
    padding-top: 5%;
    padding-bottom: 5%;
}

.textTestimoni {
    text-align: center;
}

.kontenTesti{
    justify-content: center;
}

.testitext {
    padding-right: 10%;
}

.nextLeft {
    margin-left: 10%;
}

.nextRight {
    margin-right: 10%;
}

#carousel-body{
    height: 100%;
    width: 100%; 
    background-color: #F1F3FF;
    border-radius: 13px;
    position: relative;
    padding-top: 3%;
   
}

.konten5 {
    width: 100%;
    height: 100%;
    background: #0D28A6;
    border-radius: 13px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.accordion-collapse{
    background-color: #f4f4fa;
}

/* Footer */
footer {
    left: 0;
    right: 0;
}

.footerCar {
    background-color:#F1F3FF;
    border-top-left-radius: 40px; 
    border-top-right-radius: 40px;
}

.footerDesc {
    color: #4f4f4f;
}

.footerEnd { 
    background-color: rgba(0, 0, 0, 0.2);
}

.cariMobil {
    bottom: 48px;
}

.formCariMobil {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.form-label {
    font-size: 100%;
}

#load-btn {
    width: 100%;
    margin-top: 32px;
}

.cardCars {
  background: white;
  border-radius: 8px;
  width: 333px;
  height: 624px;
  padding: 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  margin-left: 3%;
}

.imageCars {
  width: 16rem;
  height: 15rem;
}

.txt-Tipe {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
    line-height: 180%;
}

.txt-Harga {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    line-height: 180%;
}

.txt-Caption {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    line-height: 180%;
}

.txt-Captionlist {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    line-height: 250%;
}

#btn-pilihMobil {
    width: 100%;
    
}

@media screen and (max-width : 768px) {

    .offcanvas-end{
        width: 50%;
    }

    .navbarKonten {
        position: relative; 
        left: 3%;
    }
    

    #texthome {
        position: relative;
        left: 2%;
        margin-top: 15%;
        margin-bottom: 17%;
    } 

    #ImgCar {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0%;
        right: 0;
        bottom: 0;
    }

    #imgService {
        width: 92%;
        height: 92%;
    }

    #textService {
        font-size: 100%;
        position: relative;
        margin-top: 0%;
        margin-right: 1%;
    }

    .centang {
        font-size: 100%;
        position: relative;
        margin-right: 0%;
    }

    .textWhyUs {
        text-align: center;
    }

    .card {
        position: relative;
        left: 2%;
    }

    #carousel-body{
        height: 100%;
        width: 100%; 
        background-color: #F1F3FF;
        border-radius: 10px;
        position: relative;
        padding-top: 3%;
        margin-left: 2.5%;
    }

    .testitext {
        position: relative;
        text-align: center;
        padding-top: 8%;
        padding-right: 11%;
        padding-left: 11%;
        padding-bottom: 5%;
        font-size: 100%;
    }

    .ratestars {
        position: relative;
        padding-top: 10%;
        align-items: center;
        padding-left: 36.5%;
        padding-right: 10%;
    }

    .testijohn {
        align-items: center;
        position: relative;
        padding-top: 5%;
        align-items: center;
        padding-left: 28%;
        padding-right: 30%;
    }

    .konten5 {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    #textFAQ {
        text-align:center;
    }
    
}

@media screen and (min-width : 768px) and (max-width : 1024px) {

    .offcanvas-end{
        width: 30%;
    }

    .navbarKonten {
        position: relative; 
        left: 3%;
    }
    
    #ImgCar {
        width: 100%;
        height: 55%;
        position: relative;
        top: 45%;
        right: 0;
        bottom: 0;
    }

    .centang {
        font-size: 90%;
        position: relative;
        margin-right: 0%;
    }

     #carousel-body{
        height: 100%;
        width: 100%; 
        background-color: #F1F3FF;
        border-radius: 10px;
        position: relative;
        padding-top: 3%;
        margin-left: 1%;
    }

    .testitext {
        position: relative;
        text-align: left;
        padding-top: 1%;
        padding-right: 11%;
        padding-left: 11%;
        padding-bottom: 2%;
        font-size: 100%;
    }

    .ratestars {
        position: relative;
        padding-top: 5%;
        padding-left: 11%;
    }

    .testijohn {
        position: relative;
        padding-top: 45%;
        padding-left: 60%;
    }

    .konten5 {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #textFAQ {
        text-align:left;
    }
}

